body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
}

#particles-js {
    position: fixed; /* Asegura que las partículas estén fijas */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* Las partículas deben estar por detrás del contenido */
}

#content {
    position: relative;
    z-index: 1;
    padding: 20px;
    color: white;
}

header {
    text-align: center;
    padding: 50px;
}

h1 {
    font-size: 3em;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

section {
    padding: 50px 0;
}

.project {
    margin: 20px 0;
}

.project img {
    width: 100px;
    height: 100px;
    object-fit: cover;
}

a {
    color: white;
    text-decoration: none;
    display: block;
    margin-top: 10px;
}
